<!DOCTYPE html>
<html>
  <head>
    <title>G2Restaurant</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
  </head>
  <body>
    <main class="container">
      <%= link_to "Restaurant", root_path %>|
      <%= link_to "Menu", menus_path %>|
      <% if user_signed_in? %>
        <%= current_user.name %>
        <strong><%= (current_user.role) %></strong>
        <%= link_to t('.edit_profile'), edit_user_registration_path %>
        <%#= link_to t('.users'), users_path, class: "navbar-item" %>
        <%= link_to t('.sign_out'), destroy_user_session_path, 'data-turbo-method': :delete %>
      <% else %>
        <%= link_to t('.sign_up'), new_user_registration_path %>
        <%= link_to t('.sign_in'), new_user_session_path %>
      <% end %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </main>
  </body>
</html>
